<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="user-mapper">
    <sql id="userTable">
        PLATFORM_USERS
    </sql>

    <select id="selectUserList" parameterType="com.mybatisinterceptorstudy.user.vo.User" resultType="com.mybatisinterceptorstudy.user.vo.User">
        /* selectUserList | Younjin Kwon | 유저 정보 조회 */
        SELECT USER_ID,
               USER_PW
        FROM <include refid="userTable"/>
        WHERE 1 = 1
          AND USER_ID = #{userId}
    </select>

    <insert id="insertUser" parameterType="com.mybatisinterceptorstudy.user.vo.User">
        INSERT INTO
        <include refid="userTable"/>(
        USER_ID,
        USER_PW
        )
        VALUES(
        #{userId},
        #{userPw}
        )
    </insert>
</mapper>