{
  "useTabs": true,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 80,
  "semi": false,
  "singleAttributePerLine": true,
  "overrides": [
    {
      "files": "**/*.svelte",
      "options": {
        "parser": "svelte"
      }
    },
    {
      "files": "**/*.js",
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": "**/*.scss",
      "options": {
        "parser": "scss"
      }
    }
  ],
  "plugins": [
    "prettier-plugin-svelte"
  ]
}
